<div class="row">
  <div class="three columns">
    <h1><!-- <img src="http://placehold.it/400x100&text=Logo" /> -->THEATRE</h1>
  </div>
  <div class="nine columns">
    <ul class="nav-bar right">
      <%== intellinav %>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>
